* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{scroll-behavior:smooth}
  a { 
    color: inherit; 
    text-decoration: none;;
  } 
  
  /* --> BASIC STYLES  */
  
  /* ---> MAIN STYLES TO DEFINE GRID POSTION */
  header h1 {
    color: white;
  }
  
  /* --->> HEADER STYLES ---> */
  header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    background-color: #7773ca;
    height: 60px;
  }
  .right-header {
    display: flex;
  }
  .profile-photo {
    height: 35px;
    margin-left: 15px;
  }
  .student-name {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
  }
  header h1 {
    font-size: 20px;
    padding-left: 5px;
  }
  /* .bell {
    fill: white;
    display: flex;
    width: 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.652);
    padding-right: 10px;
    position: relative;
  } */
  
  .bell{
    fill: white;
    display: flex;
    width: 40px;
    height: 40px;
    padding-right: 10px;
    position: relative;
    font-size: 40px;
    color: white;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
  }
  
  @-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }
  
    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
  }
  
  @-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }
  
    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
  }
  
  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
  .bell svg {
    pointer-events: none;
  }
  
  .bell-student {
    display: flex;
    }

  #greendot {
      width: 6px;
      height: 6px;
      opacity: 1;
      border-radius: 50%;
      background-color: limegreen;
      position: relative;
  }


  .displaynone {
    display: none;
  }
  
  /* ---> notification --->  */
  
  .notify-box {
    width: 270px;
    border-radius: 5%;
    height: fit-content;
    opacity: 1;
    position: absolute;
    right: 1px;
    top: 45px;
    left: -105px;
    transition: 0.5s opacity, 250ms height;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: none;
  }
  
  .show {
    display: block;
  }
  .notify-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 15px 5px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-content: center;
  }
  .notify-item:hover {
    background-color: whitesmoke;
  }
  .notify-item p {
    font-size: 12px;
    padding: 5px;
  }
  .notify-close {
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .notify-close:hover {
    background-color: #7773ca;
    color: white;
  }
  
  /* --->> NAV STYLES --->  */
  nav {
    background-color: #4c4c74;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding: 15px;
  }
  nav svg {
    fill: white;
    width: 30px;
  }
  
  nav svg:hover {
    transform: scale(1.1);
    fill: limegreen;;
  }
  
  /* ---> MAIN HEADER ---> */
  .main-header {
    background-color: whitesmoke;
    height: 60px;
  }
  .headline {
    display: block;
    max-width: 130px;
    font-size: 20px;
    padding: 16px;
    background-color: white;
  }
  div.main-header {
    background-color: rgb(230, 230, 230);
    height: 55px;
  }
  
  /* ---> ALERT ---> */
  /* The alert message box */
  .alert .alert-banner {
    display: flex;
    padding: 8px;
    background-color: #7773ca;
    color: white;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 10px;
    margin: 20px auto;
    justify-content: space-between;
    font-size: smaller;
    flex-direction: row;

  }
  
  
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: lighter;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
  }
  
  /* ---> TRAFIC -->  */
  
  #traffic {
    background-color: white;
    height: fit-content;
    border-bottom: solid 1px rgb(230, 230, 230);
  }
  .traffic-header {
    min-width: 100%;
  }
  .traffic-header h3 {
    max-width: 60px;
    margin-left: 18px;
  }
  #traffic li {
    display: grid;
    margin: 5px;
  }
  #traffic-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hour-btn,
  #daily-btn,
  #weekly-btn,
  #monthly-btn {
    padding: 5px 10px;
  }
  #hour-btn:hover,
  #daily-btn:hover,
  #weekly-btn:hover,
  #monthly-btn:hover {
    background-color: rgb(93, 182, 93);
    border-radius: 15px;
    color: white;
  }
  .active {
    background-color: rgb(93, 182, 93);
    border-radius: 15px;
    color: white;
  }
  .widget-container-full {
    max-width: 100%;
  }
  
  li {
    float: left;
    display: block;
    text-align: center;
  }
  /* ----> dayli traffic --->  */
  
  #daily,
  #mobile,
  #social,
  #members,
  #activity,
  #message,
  #settings {
    background-color: white;
    border-bottom: solid 1px rgb(230, 230, 230);
  }
  
  #daily h3,
  #mobile h3,
  #social h3,
  #members h3,
  #activity h3,
  #message h3,
  #settings h3 {
    margin: 1em;
  }
  
  /* ----> social stats --->  */
  
  .social-container {
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding: 50px 10px;
    background-color: rgb(242, 242, 242);
    border: solid 1px rgb(177, 173, 173);
    border-radius: 8px;
    margin: 10px;
  }
  
  #social p {
    margin-left: 20px;
  }
  
  .social-p {
    font-size: small;
    color: #7773ca;
  }
  .number-p {
    font-size: xx-large;
    color: rgb(90, 90, 90);
  }
  
  #social svg {
    width: 40px;
    height: 40px;
    fill: #7773ca;
  }
.social-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7773ca;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: visible;
}
  #social svg {
    fill: white;

  }
  
  /* ----> NEW MEMBERS AND RECENT ACTIVITY ---->  */
  
  .members-image {
    max-width: 80px;
  }
  .members-container,
  .activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px rgb(230, 230, 230);
    margin-top: 15px;
  }
  .date {
    margin-bottom: 20px;
  }
  .member-text {
    text-align: center;
    margin: 0px 20px 0px 20px;
  }
  #members a {
    color: #7773ca;
    text-decoration: none;
  }
  
  /* ---> MESSAGE USER --->  */
  
  .widget-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .form-field {
    width: 90%;
    height: 45px;
    background-color: rgb(245, 242, 242);
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
  }
  #timezone {
    margin-bottom: 15px;
  }
  
  .form-area {
    width: 90%;
    height: 120px;
    background-color: rgb(245, 242, 242);
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
    margin-top: 15px;
  }

  ul {
    list-style: none;
  }
  .list {
    width: 90%;
    background-color: rgb(245, 242, 242);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .list-items {
    padding: 12px 5px;
  }
  .list-items:hover {
    background-color: #7773ca;
    color: white;
  }
  
  #send {
    width: 90%;
    height: 45px;
    background-color: #7773ca;
    color: white;
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  /* ---> SETTINGS --->  */
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
  }
  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  .settings-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 18px 10px 18px;
  }
  
  .toggle p {
    padding: 10px 0px 10px 0px;
    margin-left: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .settings-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .form-field {
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .button-primary {
    padding: 15px 45px;
    margin-right: 5px;
    background-color: #7773ca;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    
  }
  .button-disabled {
    color: white;
    background-color: rgb(177, 175, 175);
    padding: 15px 45px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid white;
  }

  .settings-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  /* GRID POSITION */
  .container {
    display: grid;
  }
  #main-container {
    display: grid;
  }
  
  header {
    grid-area: header;
  }
  
  nav {
    grid-area: navigation;
  }
  
  #main-container {
    grid-area: main;
  }
  .traffic-chart {
    grid-area: traffic-chart;
    width: 80%;
  }
  
  /* ---> RECISE ICONS E IMAGES  */
  
  .bell {
    max-width: 35px;
  }
  
  
  .members-image {
    border-radius: 50%;
  }
  
  .bell:hover {
    fill: limegreen;;
  }
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "navigation"
      "main";
  }
  
  /* ---> ADJUST CHARTS --->  */
  
  #mobile-chart,
  #traffic-chart,
  #daily-chart {
    margin-bottom: 18px;
  }
  
  @media (min-width: 768px) {
    .container {
      grid-template-columns: 70px 1fr;
      grid-template-areas:
        "header header"
        "navigation main";
    }
    /* ---> NAVIGATION --->  */
  
    .navigation {
      flex-direction: column;
      height: 100%;
      padding: 0;
      justify-content: start;
    }
    .navigation svg {
      margin-top: 20px;
    }
  
    /* ---> notification --->  */
    .notify-box {
      right: 1px;
      top: 45px;
      left: -100px;
    }
    /* ---> TRAFFIC --->  */
  
    .traffic-header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  
    .widget-container-full {
      margin-left: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
    #traffic {
      margin-right: 20px;
      height: 20%;
    }
  
    /* ----> DAILY TRAFFIC --->  */
  
   #daily  {
      border-right: 1px solid rgb(230, 230, 230);
      border-top: 1px solid rgb(230, 230, 230);
      margin-left: 20px;
      margin-right: 20px;
    }
  
    /* ----> MOVILE USERS --->  */
  
    #mobile {
      border-top: 1px solid rgb(230, 230, 230);
    }
  
    /* ---> SOCIAL --->  */
  
    .social-container {
      display: inline-flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 1%;
      width: 30%;
    }
  
    #social h3 {
      margin: 19px 19px 0px 19px;
    }
    /* ----> NEW MEMBERS AND ACTIVITY --->  */
  
    .members-container,
    .activity-container {
      flex-direction: row;
      margin-left: 18px;
    }
    .date {
      margin-left: auto;
      margin-right: 15px;
    }
  
    .member-text {
      text-align: start;
      margin: 0px 20px 20px 15px;
    }
    #members a {
      color: #7773ca;
      text-decoration: none;
    }
  
    /* ---> settings --->  */
  
    .settings-align {
      justify-content: space-between;
      align-content: center;
    }

    .form-field,
    .form-area,
    #send {
      width: 93%;
    }
    
    .settings-button {
      
      align-content: center;
      align-items: center;
    }

  #save,
  #cancel {
    flex-direction: row;
    flex-grow: 1;
    margin: 0px 15px;
    margin-bottom: 10px;
    text-align: center;
   
    
  }
   /* --> grid positioning ---> */
    
    .switch {
      margin-right: 380px;
    }
  
    .alert {
      grid-area: alert;
    }
    #social {
      grid-area: social;
    }
    #members {
      grid-area: members;
    }
    #activity {
      grid-area: activity;
    }
    #message {
      grid-area: message;
    }
    #settings {
      grid-area: settings;
    }
    .alert {
      min-width: 1fr;
    }
    .main-header {
      grid-area: main-header;
    }
    #traffic {
      grid-area: traffic;
    }
  
    #main-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "main-header main-header"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members members"
        "activity activity"
        "message message"
        "settings settings";
    }

    
  }
  
  @media (min-width: 1024px) {
    /* ---> SOCIAL ---> */
    .social-container {
      display: inline-flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 1%;
      width: 30%;
    }
    /* ---> members --->  */
    #members {
      border-right: 1px solid rgb(230, 230, 230);
    }
  
    /* ----> settings --->  */
    .switch {
      margin-right: 100px;
    }
   
    .settings-container {
     margin-top: 2;
    }
    .button-primary,
    .button-disabled {
      padding: 15px 95px;
    }
    .settings-button {
      margin-top: 25px;
    }

      /* ---> grid positioning ---> */
   
      .container {
        grid-template-columns: 70px 1fr;
        grid-template-areas:
          "header header"
          "navigation main";
      }
      #main-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "main-header main-header"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members activity"
        "message settings";
    }
  }
  