* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* --> BASIC STYLES  */

/* ---> MAIN STYLES TO DEFINE GRID POSTION */
header h1 {
    color: white;
}

/* --->> HEADER STYLES ---> */
header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    background-color: #7773ca;
    height: 60px;
}
.right-header{
    display: flex;
    
}
.profile-photo {
    height: 35px;
    margin-left: 15px;
}
.student-name {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
}
header h1 {
    font-size: 20px;
    padding-left: 5px;
}
.bell {
    fill: white;
    display: flex;
    width: 40px ;
    border-right: 1px solid rgba(255, 255, 255, 0.652) ;
    padding-right: 10px;
}
.bell-student{
    display: flex;
    justify-content: space-between;
}


/* --->> NAV STYLES --->  */
nav {
    background-color: #4c4c74;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding: 15px;
}
nav svg {
    fill: white;
    width: 30px;
}
 
/* ---> MAIN HEADER ---> */
.main-header {
    background-color: whitesmoke;
    height: 60px;
}
.headline {
  display: block;
  max-width: 130px;
  font-size: 20px;
  padding: 16px;
  background-color: white;
  
}
div.main-header {
    background-color: rgb(230, 230, 230);
    height: 55px;
    
}


/* ---> ALERT ---> */
/* The alert message box */
.alert {
    padding: 8px;
    background-color: #7773ca;
    color: white;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 3%;
    margin: 20px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: lighter;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

/* ---> TRAFIC -->  */

.traffic {
    background-color: white;
    height: 90px;
    border-bottom: solid 1px rgb(230, 230, 230);
}
.traffic-header {
    margin-left: 10px;
    min-width: 100%;
}
.traffic-header h3{
    max-width: 60px;
}
 .traffic li {
     display: grid;
     margin: 5px;
 }
 .traffic-nav-link {
     padding: 5px 10px;
     
 }
 .traffic-nav-link.active {
     background-color: rgb(93, 182, 93);
     border-radius: 40%;
     color: white;
     
 }

li {
    float: left;
    display: block;
    text-align: center;
}
/* ----> dayli traffic --->  */

.daily,
.mobile,
.social,
.members,
.activity,
.message,
.settings  {
    background-color: white;
    border-bottom: solid 1px rgb(230, 230, 230);
}

.daily h3,
.mobile h3,
.social h3,
.members h3,
.activity h3,
.message h3,
.settings h3 {
    margin: 1em;
}

/* ----> social stats --->  */

.social-container {
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    padding: 50px 10px;
    background-color: rgb(242, 242, 242);
    border: solid 1px rgb(177, 173, 173);
    border-radius: 8px;
    margin: 10px
}
 
.social p {
    margin-left: 20px;
}

.social-p {
    font-size: small;
    color: #7773ca;
}
.number-p {
    font-size: xx-large;
    color: rgb(90, 90, 90);
}

.social svg {
    min-width: 40px;
    fill: #7773ca;

}

/* ----> NEW MEMBERS ---->  */

.members-image {
    max-width: 80px;

    
}
.members-container,
.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px rgb(230, 230, 230);
  margin-top: 15px;
}

.member-text {
    text-align: center;
    /* margin-bottom: 15px; */
    margin: 0px 20px 20px 15px;
}
.members a{
    color: #7773ca;
    text-decoration: none;
}

/* ---> MESSAGE USER --->  */

.widget-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.form-field {
    width: 90%;
    height: 45px;
    background-color: rgb(245, 242, 242);
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
}

.form-area {
    width: 90%;
    height: 120px;
    background-color: rgb(245, 242, 242);
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
    margin-top: 15px;
}

#send {
    width: 90%;
    height: 45px;
    background-color: #7773ca;
    color: white;
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* ---> SETTINGS --->  */

.settings-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.form-field {
    border: solid 1px rgb(158, 154, 154);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.button-primary {
    padding: 15px 45px;
    margin-right: 5px;
    background-color: #7773ca;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}
.button-disabled {
    color: white;
    background-color: rgb(177, 175, 175);
    padding: 15px 45px;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
    
}


/* GRID POSITION */
.container {
    display: grid;
}
.main-container {
    display: grid;
}

header {
    grid-area: header;
}
   
nav {
    grid-area: navigation;
}
   
.main-container {
    grid-area: main;
}
.traffic-chart {
    grid-area: traffic-chart;
}


/* ---> RECISE ICONS E IMAGES  */

.bell,
.social-image {
    max-width: 35px;
    
}
.members-image {
    border-radius: 50%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "navigation"
      "main";
  
  }

  
  @media (min-width: 768px) {
    .container {
      grid-template-columns: 70px 1fr;
      grid-template-areas:
        "header header"
        "navigation main";
    }
   /* ---> NAVIGATION --->  */

    .navigation {
        flex-direction: column;
        height: 100%;
        padding: 0;
        justify-content: start;
    
    }
    .navigation svg {
        margin-top: 20px;
    }
    /* ---> TRAFFIC --->  */

    .traffic-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
    }
    .traffic {
        margin-right: 20px;
        height: 50px
    }


    
    .alert {
        grid-area: alert;
    }
    .social {
        grid-area: social;
    }
    .members {
        grid-area: members;
    }
    .activity {
        grid-area: activity;
    }
    .message {
        grid-area: message;
    }
    .settings {
        grid-area: settings;
    }
    .alert {
        min-width: 1fr;
    }
    .main-header {
        grid-area: main-header;
    }
    .traffic {
        grid-area: traffic;
    }


    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "main-header main-header"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members members"
        "activity activity"
        "message message"
        "settings settings";
    }
 }

 @media (min-width: 1024px) {
    .container {
        grid-template-columns: 70px 1fr;
        grid-template-areas:
          "header header"
          "navigation main"
          ;
      }
      .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "main-header main-header"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members activity"
        "message settings";
    }
 }


